<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
    </head>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table" ></i> Professor's Current Announcements</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Course_ID</th>
                      <th>Section</th>
                      <th>Announcement Information</th>
                      <th>Professor's Name</th>
                    </tr>
                  </thead>
                  <tfoot>
                  </tfoot>
                  <tbody id="customer-table">
            <!-- loop for returning the result -->
            {% for result in result %}
                <tr>
                    <td scope="row"> {{ result[1] }} </td>
                    <td scope="row"> {{ result[2] }} </td>
                    <td scope="row"> {{ result[3] }} </td>
                    <td scope="row"> {{ result[4] }} </td>
                </tr>
            {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated 1 second ago</div>
          </div>
        </html>

<div class="container-sm">
    <div class="card-body">
        <h3 class="card-title">Make a New Announcement</h3>

        <!-- we use /name route and POST method to get the first and last name inserted -->
        <form action="/makeannounce" method="POST">
            <div class="form-group">
                <label for="cid">Course name</label>
                <input type="text" name="cid" required class="form-control" pholder="Enter course ID such as CSE 583">
            </div>
            <div class="form-group">
                <label for="sid">Course Section</label>
                <input type="text" name="sid" required class="form-control" placeholder="Enter the section where this annoucement will be made...">
            </div>
                  <div class="form-group">
                <label for="ainfo">Annoucement Information</label>
                <input type="text" name="ainfo" required class="form-control" placeholder="Submit the annoucement here...">
            </div>
                <div class="form-group">
                <label for="pname">Professor's Name</label>
                <input type="text" name="pname" required class="form-control" placeholder="Enter professor's name here...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-info" href="/dashStudent" role="button">Go Back</a> <!--return dashProf.html  -->
        </form>
    </div>

<style>

    #row_style {
        margin-top: 30px;
    }

    #submit {
        display: block;
        margin: auto;
    }
</style>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script>
    $(function () {
        $("#editor").shieldEditor({
            height: 260
        });
    })
</script></div>